<nav>
  <div class="nav-wrapper #66bb6a green lighten-1">
    <a href="/" class="brand-logo stuff" style="padding-left: 2%">Home</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down ">
      <li><a href="/hobbies">Hobbies</a></li>
    </ul>
  </div>
</nav>
