<!DOCTYPE html>
<html>
  <head>
   <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>
    <div class="container"> 
    <h3> Welcome to the Hobby App </h3>
    <p>Add your hobbies here</p>
    </div>
  </body>
</html>
